body {
    background: url("img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.dialog {
    margin-top: 1.5%;
    margin-right: 1%;
    margin-left: 1%;
    background: #25292C;
    color: #fff;
}

.name {
    background: #25292C;
    color: #fff;
    margin-right: 1%;
    margin-left: 1%;
}

#name-dialog, #text-dialog {
    padding-top: 1vh;
    padding-left: 2vh;
}

#footer-buttons {
    background: #25292C;
    color: #fff;
}

#ration-modal .modal-dialog {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#ration-content {
    margin-left: 7%;
    margin-top: 4%;
    background: none;
    border: none;
}

#ration-content .modal-body {
    width: 2%;
    height: 70px;
    background: #2e3235;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

#ration-content .modal-footer {
    width: 200px;
    height: 300px;
    border-top: none;
    background: #2e3235;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#btn-menu, #btn-next {
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%; */
}

#btn-next { margin-left: 1%; }

#menu .modal-content { 
    width: 30vh;
    margin: auto;
    background: none;
    border: none;
    margin-top: 30vh;
}

#btn-back-to-game, #btn-new-game,
#btn-save-load, #btn-sign-out-game {
    width: 25vh;
    height: 7vh;
}

#game { display: block; }

#name-text-div { margin-top: 35vh; }

#title { 
    opacity: 0;
    font-size: 7vh;
    color: rgb(136, 136, 136);
}

/* Скрытое имя */

.title-show1 { 
    opacity: 0;
    font-size: 7vh;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show2 { 
    opacity: 0;
    font-size: 7vh;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show3 { 
    opacity: 0;
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show4 { 
    opacity: 0; 
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show5 { 
    opacity: 0; 
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show6 { 
    opacity: 0; 
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

/* Анимация появления имени */

#title-show1 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 2s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show2 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 4s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show3 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 5s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show4 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 6s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show5 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 7s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show6 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 8s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}