body {
    background: url("img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.dialog {
    margin-top: 1.5%;
    margin-right: 1%;
    margin-left: 1%;
    background: #25292C;
    color: #fff;
}

.name {
    background: #25292C;
    color: #fff;
    margin-right: 1%;
    margin-left: 1%;
}

#name-dialog, #text-dialog {
    padding-top: 1vh;
    padding-left: 2vh;
}

#footer-buttons {
    background: #25292C;
    color: #fff;
}

#ration-modal .modal-dialog {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#ration-content {
    margin-left: 7%;
    margin-top: 4%;
    background: none;
    border: none;
}

#ration-content .modal-body {
    width: 2%;
    height: 70px;
    background: #2e3235;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

#ration-content .modal-footer {
    width: 200px;
    height: 300px;
    border-top: none;
    background: #2e3235;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navbarToggleMenu, #btn-next {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vh;
}

#btn-next { 
    border-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.75);
    font-size: 1rem;
    background: none;
}

.navbar-toggler {
    font-family: 'Arial', sans-serif;
}

#menu .modal-content { 
    margin: auto;
    background: none;
    border: none;
    margin-top: 25vh;
}

#game { display: block; }

#name-text-div { margin-top: 35vh; }

#title { 
    opacity: 0;
    font-size: 7vh;
    color: rgb(136, 136, 136);
}

#navbarMenuBg {
    border: 1px solid rgba(255,255,255,.1);
    border-radius: .3rem;
    font-size: 1rem;
    background: none;
}

#btn-back-to-game, #btn-new-game,
#btn-save-load, #btn-sign-out-game { color: rgba(255,255,255,.75); }

#btn-back-to-game:hover, #btn-new-game:hover,
#btn-save-load:hover, #btn-sign-out-game:hover {
    transition: 0.5s ease;
    border: 1px solid rgb(136, 136, 136); 
}

/* Скрытое имя */

.title-show1 { 
    opacity: 0;
    font-size: 7vh;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show2 { 
    opacity: 0;
    font-size: 7vh;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show3 { 
    opacity: 0;
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show4 { 
    opacity: 0; 
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show5 { 
    opacity: 0; 
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

.title-show6 { 
    opacity: 0; 
    font-size: 7vh; 
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

/* Анимация появления имени */

#title-show1 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 2s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show2 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 4s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show3 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 5s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show4 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 6s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show5 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 7s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#title-show6 { 
    opacity: 1; 
    font-size: 7vh; 
    transition: opacity 8s;
    color: #fff;
    /* text-shadow: 1px 1px 10px #f33b3b; - Блогер */
    /* text-shadow: 1px 1px 10px #f33be4; - Полина */ 
}

#btn-dialog-1-1, #btn-dialog-1-2,
#btn-dialog-1-3, #btn-splitUp,
#btn-noSplitUp {
    margin-left: 1%;
}

.title, .title-end, 
.title-date, .title-thanks {
    font-size: 5vh;
    text-shadow: 3px 3px 3px black, 0 0 1em red; /* Параметры тени */
}

#title-game, #title2, 
#back, #links { opacity: 0; }

#title, #title-end, 
#back-to-menu, #links-game {
    opacity: 1;
    transition: opacity 5s; 
}

#back-to-menu, #back {
    width: 20vh;
    height: 5vh;
    background: rgb(42, 44, 46);
    color: #fff;
}

#back-to-menu:hover {
    background: rgb(52, 52, 53);
    transition: 0.5s;
}

#vk-icon { color: #4A76A8; }

#youtube-icon { color: #FF0000; }

#btnGroupDrop1, #btn-thanks { background: rgb(42, 44, 46); border: none; }

.dropdown-menu a { color: #fff; }

.dropdown-menu { background: rgb(42, 44, 46); }

#quit { background: rgb(42, 44, 46); border: none; }

#thanks-div .modal-content { background: rgb(42, 44, 46); }

/* Text Animation Opacity - Task for Danil or Anna (because ya ebal eto v rot delat') */

/* .title {
    text-align: center;
    font-size: 6.5em;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
} */
  
/* @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
} */
