body {
    background: url("../images/menu.jpg");
    background-position: 400px 0;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    animation: loading 20s infinite linear;
}

@keyframes loading {
    0%{background-position: 0 0;}
}

#btn-music-mute, #btn-music-up {
    background: rgb(42, 44, 46);
    border: 0;
}

#btn-music-mute { border-right: 3px solid rgb(39, 42, 44); }

#btn-music-mute:hover, #btn-music-up:hover { 
    transition: 0.5s; 
    background: rgb(39, 42, 44);
}

#title { 
    font-size: 2.5em;
    text-shadow: 3px 3px 3px black, 0 0 1em red; /* Параметры тени */
}

#buttons-menu { 
    margin-top: 25vh;
}

#btn-new-game, #btn-achievements,
#btn-thanks, #btn-easy,
#btn-normal, #btn-hardcore,
#btn-settings {
    background: #25292C;
    width: 15rem;
    height: 4.5rem;
    margin-top: 1vh;
    border: 0;
}

#btn-chapters {
    background: rgb(42, 44, 46);
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#vk-icon { color: #4A76A8; }

#youtube-icon { color: #FF0000; }

#vk-text, #youtube-text { color: #fff; }

#btn-new-game, #btn-continue, 
#btn-thanks { border-bottom: 2px solid rgb(42, 44, 46); }

#btn-new-game:hover, #btn-continue:hover, 
#btn-settings:hover, #btn-chapters:hover {
    background: rgb(39, 42, 44);
    transition: 0.5s;
}

#btn-new-game { margin-top: 0; padding-top: 0; }

#achievements-tab-li {
    margin-left: 1vw;
}

.music { 
    width: 70vh;
    margin-left: 1vh; 
    margin: 0 auto;
    align-items: center;
    text-align: center; 
}

.modal-content { background: rgb(42, 44, 46); }

.modal-title, .close { color: #fff; margin-left: 1vw;  }

.close:hover { color: #fff; }

.card-title { color: rgb(197, 196, 196); }

#v-pills-game-tab { color: #fff; }

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link { background: rgb(58, 60, 61); }

#difficult .modal-content { 
    width: 32vh;
    margin: auto;
    background: rgb(45, 46, 48);
    border: none;
    margin-top: 30vh;
}

#close-posters, #btn-posters { 
    border: none;
    background: rgb(42, 44, 46); 
}

.nav-tabs .nav-link.active { background: rgb(42, 44, 46); }

#chapters .modal-content { background: none; border: none; }

#btn-close { margin-top: 19vh; }

#btn-close {
    width: 30vh;
    height: 4.5vh;
    background: rgb(39, 42, 44);
    font-size: 2vh;
}

#btn-what-is-it {
    width: 30vh;
    height: 5vh;
    background: rgb(42, 44, 46);
    font-size: 1.8vh;
}

#btn-1-chapter, #btn-2-chapter,
#btn-3-chapter, #btn-4-chapter,
#btn-5-chapter {
    width: 30vh;
    height: 7vh;
    background: rgb(42, 44, 46);
    font-size: 1.8vh;
}

.image-logo {
    padding-left: 2vh;
    padding-bottom: 2vh;
}

#logo {
    width: 100px;
    height: 100px;
}

/* #swal2-title, #swal2-content {
    color: #fff;
}

.swal2-modal, .swal2-show {
    background: rgb(42, 40, 40);
} */

#switch-music {
    background: rgb(39, 42, 44);
}

@media screen and (max-height: 600px) {
    #buttons-menu { 
        margin-top: 20vh;
    }
}

@media screen and (max-width: 400px) {
    #title {
        font-size: 2.3em;
    }

    #buttons-menu {
        margin-top: 17vh;
    }
}
  